/*.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: linear-gradient(90deg, #1e3a8a, #2563eb);
  color: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
 
.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}
 
.nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 15px;
  position: relative;
}
 
.nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #93c5fd;
  left: 0;
  bottom: -5px;
  transition: width 0.3s;
}
 
.nav a:hover::after {
  width: 100%;
}
.logout {
  background-color: #e74c3c; /* red */
  /*color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem; 
  border-radius: 4px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem; /* adds spacing between Customer and Logout 
} 
*/
.header {
  height: 60px;
  background-color: #1e3a8a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
 
.left {
  display: flex;
  align-items: center;
  gap: 15px;
}
 
.menu-btn {
  font-size: 22px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
 
.logo {
  font-size: 20px;
  font-weight: bold;
}
 
.customer{
  margin-right: 15px;
  font-weight: 500;
}
.header-right {
  display: flex;
  gap: 15px;
  align-items: center;
}
 
.logout {
  background-color: #2563eb;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}