
.admin-layout {
  display: flex;
  height: 100vh;
  background-color: #f4f7fb;
}
 

.sidebar {
  width: 230px;
  background-color: #1e3a8a;
  color: white;
  padding: 20px;
}
 
.brand {
  font-size: 22px;
  margin-bottom: 30px;
}
 
.menu {
  list-style: none;
  padding: 0;
}
 
.menu li {
  margin: 16px 0;
}
 
.menu a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
 
.menu a:hover {
  color: #bfdbfe;
}
 

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}
 

.content {
  padding: 30px;
  flex: 1;
}
 
h2 {
  margin-bottom: 20px;
}
 

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}
 
.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}
 
.table th {
  background-color: #e0e7ff;
}
 
select {
  padding: 6px;
}
 
button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
 
button:hover {
  background-color: #1d4ed8;
}
 
.empty {
  text-align: center;
  padding: 20px;
  color: #6b7280;
}
 