<div class="admin-layout">
  <app-sidebar [class.closed]="!isSidebarOpen"></app-sidebar>

  <div class="main-area">
    <app-header (menuClick)="toggleSidebar()"></app-header>

    <main class="content">
      @for(shipment of shipments;track shipment){ @if(shipment){

      <div class="card">
        <h3>Shipment ID: {{ shipment.shipmentId }}</h3>

        <div class="topCard">
          <button (click)="nextCheckpoint()">Go to Next Check Point</button>
          <p><b>Current Location: </b> {{ shipment.currentLocation }} &nbsp;</p>
          <p><b>Last Updated: </b> {{ shipment.lastUpdated | date }}</p>
          <p><b>Price: </b> {{ shipment.price }}</p>
        </div>

        <div class="bottomCard">
          @for(rt of shipment.routePath;track rt;let last = $last){
          <span> {{ rt }} </span>

          @if(!last){
          <span> &rarr; </span>
          } }
        </div>
      </div>
      } }
    </main>

    <app-footer></app-footer>
  </div>
</div>
