.card {
  background: #ffffff;
  padding: 30px 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: auto;
  text-align: center;
}

h2{
    text-align: center;
}